{% comment %}
  Blog Section - Article grid with filters and search
  
  Features:
  - Responsive article grid (3-2-1 columns)
  - Tag filtering
  - Search within blog
  - Pagination
  - Author info
  - Reading time estimate
  - Featured articles
  
  Dependencies:
  - assets/blog.css (BEM-styled blog layout)
  - snippets/css-variables.liquid (color system)
{% endcomment %}

{% render 'css-variables' %}
<link rel="stylesheet" href="{{ 'blog.css' | asset_url }}">

<div class="blog" data-blog-wrapper>
  {%- comment %} Blog Header {% endcomment -%}
  <div class="blog__header">
    <div class="blog__header-content">
      <h1 class="blog__title">{{ blog.title }}</h1>
      {%- if blog.articles_count > 0 -%}
        <p class="blog__count">
          {{ 'blog.article_count' | t: count: blog.articles_count }}
        </p>
      {%- endif -%}
    </div>

    {%- comment %} Blog Search {% endcomment -%}
    {%- if section.settings.show_search -%}
      <div class="blog__search">
        <form action="{{ blog.url }}" method="get" role="search">
          <label for="blog-search" class="visually-hidden">
            {{ 'blog.search_placeholder' | t }}
          </label>
          <input 
            type="search" 
            name="q" 
            id="blog-search"
            class="blog__search-input"
            placeholder="{{ 'blog.search_placeholder' | t }}"
            value="{{ search.terms | escape }}"
          >
          <button type="submit" class="blog__search-button">
            {{ 'blog.search_submit' | t }}
          </button>
        </form>
      </div>
    {%- endif -%}
  </div>

  {%- comment %} Tag Filter {% endcomment -%}
  {%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
    <div class="blog__tags">
      <p class="blog__tags-label">{{ 'blog.filter_by_tag' | t }}</p>
      <div class="blog__tags-list">
        <a 
          href="{{ blog.url }}" 
          class="blog__tag{% unless current_tags %} blog__tag--active{% endunless %}"
        >
          {{ 'blog.all_posts' | t }}
        </a>
        {%- for tag in blog.all_tags -%}
          {%- assign tag_url = tag | link_to_tag: tag -%}
          <a 
            href="{{ blog.url }}/tagged/{{ tag | handle }}" 
            class="blog__tag{% if current_tags contains tag %} blog__tag--active{% endif %}"
          >
            {{ tag }}
          </a>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}

  {%- comment %} Articles Grid {% endcomment -%}
  {% paginate blog.articles by section.settings.articles_per_page %}
    {%- if blog.articles.size > 0 -%}
      <div class="blog__articles">
        {% for article in blog.articles %}
          <article class="article-card">
            {%- comment %} Article Image {% endcomment -%}
            {%- if article.image -%}
              <a href="{{ article.url }}" class="article-card__image-link">
                {% render 'image',
                  image: article.image,
                  sizes: '(min-width: 990px) 400px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)',
                  loading: 'lazy'
                %}
              </a>
            {%- endif -%}

            {%- comment %} Article Content {% endcomment -%}
            <div class="article-card__content">
              {%- comment %} Article Meta {% endcomment -%}
              <div class="article-card__meta">
                {%- if section.settings.show_date -%}
                  <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                    {{ article.published_at | date: '%B %d, %Y' }}
                  </time>
                {%- endif -%}
                
                {%- if section.settings.show_author and article.author -%}
                  <span class="article-card__author">
                    {{ 'blog.by_author' | t: author: article.author }}
                  </span>
                {%- endif -%}

                {%- if section.settings.show_reading_time -%}
                  {%- assign words = article.content | strip_html | split: ' ' | size -%}
                  {%- assign reading_time = words | divided_by: 200 | at_least: 1 -%}
                  <span class="article-card__reading-time">
                    {{ 'blog.reading_time' | t: minutes: reading_time }}
                  </span>
                {%- endif -%}
              </div>

              {%- comment %} Article Title {% endcomment -%}
              <h2 class="article-card__title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>

              {%- comment %} Article Excerpt {% endcomment -%}
              {%- if section.settings.show_excerpt and article.excerpt != blank -%}
                <div class="article-card__excerpt">
                  {{ article.excerpt }}
                </div>
              {%- endif -%}

              {%- comment %} Article Tags {% endcomment -%}
              {%- if section.settings.show_article_tags and article.tags.size > 0 -%}
                <div class="article-card__tags">
                  {%- for tag in article.tags limit: 3 -%}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article-card__tag">
                      {{ tag }}
                    </a>
                  {%- endfor -%}
                </div>
              {%- endif -%}

              {%- comment %} Read More Link {% endcomment -%}
              <a href="{{ article.url }}" class="article-card__link">
                {{ 'blog.read_more' | t }}
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M6 3l5 5-5 5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </a>
            </div>
          </article>
        {% endfor %}
      </div>
    {%- else -%}
      {%- comment %} Empty State {% endcomment -%}
      <div class="blog__empty">
        <p>{{ 'blog.no_articles' | t }}</p>
      </div>
    {%- endif -%}

    {%- comment %} Pagination {% endcomment -%}
    {%- if paginate.pages > 1 -%}
      <div class="blog__pagination">
        {%- if paginate.previous -%}
          <a href="{{ paginate.previous.url }}" class="blog__pagination-link">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M10 3l-5 5 5 5" stroke="currentColor" stroke-width="2"/>
            </svg>
            {{ 'blog.pagination_previous' | t }}
          </a>
        {%- else -%}
          <span class="blog__pagination-link blog__pagination-link--disabled">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M10 3l-5 5 5 5" stroke="currentColor" stroke-width="2"/>
            </svg>
            {{ 'blog.pagination_previous' | t }}
          </span>
        {%- endif -%}

        <span class="blog__pagination-pages">
          {{ 'blog.pagination_page' | t: current: paginate.current_page, total: paginate.pages }}
        </span>

        {%- if paginate.next -%}
          <a href="{{ paginate.next.url }}" class="blog__pagination-link">
            {{ 'blog.pagination_next' | t }}
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M6 3l5 5-5 5" stroke="currentColor" stroke-width="2"/>
            </svg>
          </a>
        {%- else -%}
          <span class="blog__pagination-link blog__pagination-link--disabled">
            {{ 'blog.pagination_next' | t }}
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M6 3l5 5-5 5" stroke="currentColor" stroke-width="2"/>
            </svg>
          </span>
        {%- endif -%}
      </div>
    {%- endif -%}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "t:general.blog",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.blog.settings.header__layout"
    },
    {
      "type": "range",
      "id": "articles_per_page",
      "min": 6,
      "max": 24,
      "step": 3,
      "default": 12,
      "label": "t:sections.blog.settings.articles_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.header__search_filter"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "t:sections.blog.settings.show_search.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.blog.settings.show_tags.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.header__article_display"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:sections.blog.settings.show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.blog.settings.show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_reading_time",
      "label": "t:sections.blog.settings.show_reading_time.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "t:sections.blog.settings.show_excerpt.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_article_tags",
      "label": "t:sections.blog.settings.show_article_tags.label",
      "default": true
    }
  ]
}
{% endschema %}
