{% layout none %}{{ '<?xml version="1.0" encoding="UTF-8"?>' }}
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
  <channel>
    <title>{{ shop.name | escape }} – DA Product Feed</title>
    <link>{{ shop.url }}/da/collections/google-feed-da</link>
    <description>Productfeed voor Denemarken</description>

    {% paginate collection.products by 1000 %}
      {% for product in collection.products %}
        {% for variant in product.variants %}
          <item>
            <g:id>{{ variant.id }}</g:id>

            {%- assign variant_title = '' -%}
            {%- if product.variants.size > 1 and variant.title != 'Default Title' -%}
              {%- assign variant_title = ' – ' | append: variant.title -%}
            {%- endif -%}

            <g:title>{{ product.title | escape }}{{ variant_title | escape }}</g:title>

            <g:description><![CDATA[
              {{ product.description | replace: '&nbsp;', ' ' | replace: '<br>', '<br />' }}
            ]]></g:description>

            <g:link>{{ shop.url }}/da/products/{{ product.handle }}{% unless variant == product.variants.first %}?variant={{ variant.id }}{% endunless %}</g:link>

            <g:canonical_link>{{ shop.url }}/da/products/{{ product.handle }}{% unless variant == product.variants.first %}?variant={{ variant.id }}{% endunless %}</g:canonical_link>

            <g:image_link>{{ variant.featured_image | default: product.featured_image | img_url: 'master' }}</g:image_link>

            <g:condition>new</g:condition>
            <g:availability>{% if variant.available %}in stock{% else %}out of stock{% endif %}</g:availability>

            <g:price>{{ variant.price | money_without_currency | replace: ',', '.' }} DKK</g:price>

            <g:brand>{{ product.vendor | escape }}</g:brand>

            {% if variant.barcode != blank %}
              <g:gtin>{{ variant.barcode }}</g:gtin>
            {% endif %}

            {% assign shipping_price = 75 %}
            {% if variant.price >= 56000 %}
              {% assign shipping_price = 0 %}
            {% endif %}

            <g:shipping>
              <g:country>DK</g:country>
              <g:service>Standard</g:service>
              <g:price>{{ shipping_price | divided_by: 100.0 | replace: ',', '.' }} DKK</g:price>
            </g:shipping>
          </item>
        {% endfor %}
      {% endfor %}
    {% endpaginate %}
  </channel>
</rss>
