{% layout none %}{{ '<?xml version="1.0" encoding="UTF-8"?>' }}
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
  <channel>
    <title>{{ shop.name | escape }} – FR Product Feed</title>
    <link>{{ shop.url }}/fr/collections/google-feed-fr</link>
    <description>Productfeed voor Frankrijk</description>

    {% paginate collection.products by 1000 %}
      {% for product in collection.products %}
        {% for variant in product.variants %}
          <item>
            <g:id>{{ variant.id }}</g:id>
            <g:title>
              {{ product.title | escape }}
              {% if product.variants.size > 1 %}
                – {{ variant.title | escape }}
              {% endif %}
            </g:title>

            <g:description><![CDATA[
              {{ product.description }}
            ]]></g:description>

            <g:link>{{ shop.url }}/fr/products/{{ product.handle }}{% unless variant == product.variants.first %}?variant={{ variant.id }}{% endunless %}</g:link>

            <g:image_link>{{ variant.featured_image | default: product.featured_image | img_url: 'master' }}</g:image_link>

            <g:condition>new</g:condition>
            <g:availability>{% if variant.available %}in stock{% else %}out of stock{% endif %}</g:availability>

            <g:price>{{ variant.price | money_without_currency | replace: ',', '.' }} {{ shop.currency }}</g:price>

            <g:brand>{{ product.vendor | escape }}</g:brand>

            {% if variant.barcode != blank %}
              <g:gtin>{{ variant.barcode }}</g:gtin>
            {% endif %}
          </item>
        {% endfor %}
      {% endfor %}
    {% endpaginate %}
  </channel>
</rss>
